<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!-- version: 6.051 -->
<!-- host: htgt2 -->
<html>
  <head>
    <title>High Throughput Gene Targeting Group Informatics</title>
    <meta name="keywords" content="EUCOMM, eucomm, KOMP, komp, gene targeting, informatics, sanger institute, sanger" />
    <meta name="description" content="Team87 - High Throughput Gene Targeting Group part of the EUCOMM and KOMP projects." />

<link rel="stylesheet" type="text/css" href="[% c.uri_for('/static/bundle/css/wtsi.css') %]" />
<script type="text/javascript" src="[% c.uri_for('/static/javascript/prototype.js') %]" ></script>
 <script type="text/javascript" src="[% c.uri_for('/static/javascript/scriptaculous.js') %]" ></script>
 <script type="text/javascript" src="[% c.uri_for('/static/bundle/sidebar.js') %]" ></script>
 <script type="text/javascript" src="[% c.uri_for('/static/bundle/toggle.js') %]" ></script>
 <script type="text/javascript" src="[% c.uri_for('/static/bundle/urchin.js') %]" ></script>
 <script type="text/javascript" src="[% c.uri_for('/static/bundle/zebra.js') %]" ></script>
  <style type="text/css" media="screen, projector">
            /*<![CDATA[*/
                @import "[% c.uri_for('/static/css/common.css') %]";
                @import "[% c.uri_for('/static/css/htgt.css') %]";
            /*]]>*/
        </style>

        <script type="text/javascript" src="[% c.uri_for('/static/javascript/fastinit.js') %]"></script>
        <script type="text/javascript" src="[% c.uri_for('/static/javascript/tablecolumnhide.js') %]"></script>
        <script type="text/javascript" src="[% c.uri_for('/static/javascript/tablekit.js') %]"></script>
        <script type="text/javascript" src="[% c.uri_for('/static/javascript/platetable.js') %]"></script>
        <script type="text/javascript" src="[% c.uri_for('/static/javascript/htgt.js') %]"></script>
        <script type="text/javascript" src="[% c.uri_for('/static/javascript/validation.js') %]"></script>
        <script type="text/javascript" src="[% c.uri_for('/static/bundle/sorttable_v2.js') %]" ></script>
        </head>
  <body >
    <div id="collapseHEAD" style="background:url([% c.uri_for('/static/bundle/header-icons/swoosh/swoosh_mice.png') %]) no-repeat top left;" >
<!--      <a href="/"><img src="/gfx/blank.gif" width="200" height="60" alt="" /></a> -->

    </div> <!-- end of collapseHEAD div -->
     <div id="nav_bar">
      <a href="mailto:htgt@sanger.ac.uk"><img src="[% c.uri_for('/static/bundle/icons/navigation/email.gif') %]" alt="Contact HTGT support" title="Contact HTGT support" /></a>
      <a href="?;decor=printable"><img src="[% c.uri_for('/static/bundle/icons/navigation/printer.gif') %]" alt="Printer friendly format" title="Printer friendly format" /></a>
      <a href="http://www.sanger.ac.uk/shared/news-report/atom/20020211150255"><img src="[% c.uri_for('/static/bundle/icons/navigation/rss.gif') %]" alt="WTSI RSS feed" title="WTSI RSS feed" /></a>
    </div>
      <div id="navblock" class="collapsed">
        <div id="sidebar" class="collapsed" style="display:none" >
          <div id="navigation">
           <div id="navhead">
             <img class="img" src="[% c.uri_for('/static/bundle/gfx/navigator/teams.jpg') %]" title="" alt="" height="40" width="170" />
             <a href="http://www.sanger.ac.uk/Teams/Team87">Team 87</a>
           </div>

          <div class="navigator">
            <ul><li><a class="sidebar" href="http://www.sanger.ac.uk/science/groups/skarnes-group">Project Overview</a></li>
 <li><a class="sidebar" href="http://www.sanger.ac.uk/science/groups/skarnes-group">Team</a></li>
 <li><a class="sidebar" href="mailto:info.eucomm@helmholtz-muenchen.de">EUCOMM product enquiries</a></li>
 <li><a class="sidebar" href="mailto:orders@komp.org">KOMP product enquiries</a></li>
 <li><a class="sidebar" href="mailto:htgt@sanger.ac.uk">Website problems</a></li>
</ul>
          </div>

          <div class="navigator2">
            <ul><li>INSERT NAV HERE</li>
</ul>
          </div>

    </div><!-- end navigation -->
<!--begin portlets-->
  <div id="portlets">
  <!--begin portlet prologue -->
<!--end portlet prologue -->
<!-- begin special -->
  <!-- error executing -->

<!-- end special -->

  </div>
<!--end portlets-->
  </div><!-- end sidebar -->
  <div id="navtab" class="collapsed">
     <script type="text/javascript">
        var sidebar_images     = new Array(2);
        sidebar_images['hide'] = "[% c.uri_for('/static/bundle/gfx/hide_nav.png') %]";
        sidebar_images['show'] = "[% c.uri_for('/static/bundle/gfx/show_nav.png') %]";
        var sidebar_string     = "<a href='javascript:toggle()'><img src='"+sidebar_images['show']+"' alt='' title='Show the side bar' id='nav_tab'><\/a>";
        document.write(sidebar_string);
      </script>
    </div>
  </div><!--end navblock-->     <!--start main-->
       <div id="main" class="expanded">   <div id="collapseBANNER">
<div class="banner"></div>
 </div> <!-- end of collapseBANNER div -->
<div id="content">