[% META title = "Submit QC Job" %]

<div>The HTGT system is due to be switched into a read-only state in January 2017. In preparation for this the QC tool has been disabled. If you need to run QC on data in HTGT please contact us at htgt@sanger.ac.uk with the details.</div>


